#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.searchEngine {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: fixed;
  top: 0;
  margin-inline: auto;
}

.filtredProducts {
  font-size: small;
  background: red;
}
